* {
  list-style: none;
  text-decoration: none;
}
body {
 background-color: #FFF;
    color: #434455;
    font-family:"Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 150%;
}
h3{
    color:#2E2F42;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 120%; 
letter-spacing: 0.4px;
}

 
.web-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.studio {
     color:#2E2F42;
font-family:"Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform:uppercase;
}
.navigation {
    color:#2E2F42;
    font-size: 16px;
font-weight: 500;
line-height:150%
}

.navigation:active, .navigation:hover , .address:active , .address:hover{
    text-decoration:underline;
    color: gold
}
.address {
    color: #434455;
    font-style: normal;
}
.sec1{
    background-color:#2E2F42;
    width: 1440px;
height: 600px;
flex-shrink: 0;
}
/* Header 1 */
.sec1 {
    display: grid;
  place-items: center;
}
.title1 {
    color: var(--WHITE, #FFF);
text-align: center;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 107.143%;
letter-spacing: 1.12px;
}
.button {
    background-color:#4d5ae5;
    color: #FFF;
    text-align: center;
    width: 169px;
    height: 56px;
    font-weight: 500;
    letter-spacing: 0.64px;
    cursor:pointer;
}
.sec3 {
    background-color: #F4F4FD;
    width: 1440px;
    height: 732px;
    display: grid;
  place-items: center;

}
.sec4{
    display: grid;
    text-align: center;
  
}
.portfolio-img{
    width: 360px;
height: 420px;
}

.footer {
    background-color: #2E2F42;
}
.studio-footer{
    color: #F4F4FD;
font-size: 18px;
font-family: "raleway";
font-style: normal;
font-weight: 700;
line-height: 116.667% 
letter-spacing: 0.54px;
text-transform: uppercase;
}
.p-footer{
    color: #F4F4FD;
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:150% 
letter-spacing: 0.32px;
}